<!DOCTYPE>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>liuheng's blog</title>
	<meta name="author" content="刘恒">
	{{{_sections.header}}}
	<link rel="stylesheet" href="/mincss/bootstrap.min.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/mincss/base.min.css?2017050601" type="text/css" charset="utf-8">
</head>
<body>
	<header class="clearfix">
		<a href="/"><img alt="admin" src="/imgs/admin.png" width="50" height="50" style="margin-top:5px;" /></a>
		<a href="javascript:;" id="navBtn" class="fr"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
		<nav class="fr">
			<ul>
				<li><a href="/"><i class="glyphicon glyphicon-home"></i>主页</a></li>
				<li><a href="/blogs"><i class="glyphicon glyphicon-menu-hamburger"></i>文章</a></li>
				<li><a href="/downloads"><i class="glyphicon glyphicon-download-alt"></i>工具下载</a></li>
				<li><a href="/contact"><i class="glyphicon glyphicon-comment"></i>联系我</a></li>
			</ul>
		</nav>
		<b class="fr" id="date"><i class="glyphicon glyphicon-calendar"></i>: {{date}}</b>
	</header>
	<div id="body">
		{{{body}}}
	</div>
	<footer class="clearfix">
		<div style="float:left;">
			<h3>联系我</h3>
			<div>
				<i class="glyphicon glyphicon-map-marker fl"></i>
				深圳市宝安区33区
			</div>
			<div class="clearfix">
				<i class="glyphicon glyphicon-envelope fl"></i>henglau@163.com
			</div>
			<div class="clearfix">QQ: 243428985</div>
		</div>
		<img src="/imgs/bar.png" alt="wechat" width="120" height="120">
	</footer>
	<script src="/minjs/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/minjs/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	{{{_sections.footer}}}
	<script type="text/javascript" charset="utf-8" src="/minjs/common.min.js"></script>
</body>

</html>
