<!DOCTYPE>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="baidu-site-verification" content="uawLsTkFDl">
	<meta name="author" content="刘恒">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
	{{{_sections.header}}}
	<link rel="shortcut icon" href="/henglau.ico" />
	<link rel="stylesheet" href="/mincss/bootstrap.min.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/mincss/yintai_base.min.css?2017102501" type="text/css" charset="utf-8">
</head>
<body>
	<header class="clearfix">
		<a href="/" class="logo"><img alt="admin" src="/imgs/yintai_logo.jpg" width="160" height="42" /></a>
		<a href="javascript:;" id="navBtn" class="fr"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
		<nav class="fr">
			<ul>
				<li><a href="/"><i class="glyphicon glyphicon-home"></i>首页</a></li>
				<li><a href="/blogs"><i class="glyphicon glyphicon-menu-hamburger"></i>我要了解</a></li>
				<li><a href="/blogs"><i class="glyphicon glyphicon-menu-hamburger"></i>我要投保</a></li>
				<li><a href="/blogs"><i class="glyphicon glyphicon-menu-hamburger"></i>我要理赔</a></li>
				<li><a href="/downloads"><i class="glyphicon glyphicon-hamburger"></i>我要问</a></li>
				<li><a href="/contact"><i class="glyphicon glyphicon-notice"></i>公告</a></li>
			</ul>
		</nav>
		<b class="fr" id="date"><i class="glyphicon glyphicon-calendar"></i>: {{date}}</b>
	</header>
	<div id="body">
		{{{body}}}
	</div>
	<footer class="clearfix">
		<div style="float:left;">
			<h3>联系我</h3>
			<div>
				<i class="glyphicon glyphicon-map-marker fl"></i>
				银泰员工保险经办人
			</div>
			<div class="clearfix">
				<i class="glyphicon glyphicon-envelope fl"></i>henglau@163.com
			</div>
			<div class="clearfix">QQ: 243428985</div>
		</div>
		<img src="/imgs/bar.png" alt="wechat" width="120" height="120">
	</footer>
	<script src="/minjs/jquery.min.js"></script>
	<script src="/minjs/jquery.lazyload.min.js"></script>
	<script src="/minjs/bootstrap.min.js"></script>
	{{{_sections.footer}}}
	<script type="text/javascript" charset="utf-8" src="/minjs/common.min.js?20170604"></script>
</body>

</html>
