{{#section 'header'}}
	<title>刘恒的小站 - 博客列表</title>
{{/section}}
<h3>文章列表</h3>
<ul class="content-list">
	<li><a href="blogs/blog7">程序员表情包</a></li>
	<li><a href="blogs/blog6">NodeJS自动化渲染视图</a></li>
	<li><a href="blogs/blog5">Express处理子域名的方法</a></li>
	<li><a href="blogs/blog4">最全常用正则表达式</a></li>
	<li><a href="blogs/blog3">IIS部署nodejs项目</a></li>
	<li><a href="blogs/blog2">IOS与安卓平台上问题</a></li>
	<li><a href="blogs/blog1">H5项目常见问题及注意事项</a></li>
</ul>