<div id="home">
	<img src="/imgs/1.jpg" alt="contact me">
	<h3>最新文章</h3>
	<ul id="articles" class="content-list">
		<li><a href="blogs/blog5">Express处理子域名的方法</a></li>
		<li><a href="blogs/blog6">NodeJS自动化渲染视图</a></li>
	</ul>
	<h3>内容下载</h3>
	<ul id="sources" class="content-list">
		<li><a href="/sources/Chrome 键盘快捷键 - Chrome帮助.pdf">Chrome 键盘快捷键 - Chrome帮助.pdf</a></li>
		<li><a href="/sources/H5163AE04_0108174617.apk">mui app demo(apk)</a></li>
		<li><a href="/sources/ES6标准入门（第二版）.pdf">ES6标准入门（第二版）</a></li>
		<li><a href="/sources/高性能网站建设指南.pdf">高性能网站建设指南.pdf</a></li>
		<li><a href="/sources/学习响应式设计.pdf">学习响应式设计.pdf</a></li>
		<li><a href="/sources/图解HTTP.pdf">图解HTTP.pdf</a></li>
		<li><a href="/sources/Mac功夫：OS X.pdf">Mac功夫：OS X.pdf</a></li>
	</ul>
	<div class="link-out">
		<p>
			推荐前端频道: <a href="https://github.com/MoonYaph/Front--end--tutorial" target="_blank">最全前端知识体系</a>
		</p>
	</div>
</div>
