<h2 class="col-sm-offset-1">注册并接收我们的邮件信息</h2>
<form class="form-horizontal" role="form" action="/newsletter" method="POST">
	<input type="hidden" name="_csrf" value="{{csrf}}">
	<div class="form-group">
		<label for="fieldName" class="col-sm-2 control-label">用户名</label>
		<div class="col-sm-4">
			<input type="text" class="form-control"
			id="fieldName" name="name">
		</div>
	</div>
	<div class="form-group">
		<label for="fieldEmail" class="col-sm-2 control-label">邮箱</label>
		<div class="col-sm-4">
			<input type="email" class="form-control" required
			id="fieldName" name="email">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<button type="submit" class="btn btn-primary">注册</button>
		</div>
	</div>
</form>