{{#section 'header'}}
	<title>银泰保险管理中心-我要投保</title>
	<link rel="stylesheet" href="/mincss/plan.min.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="/mincss/fixed_header_table.min.css" type="text/css" charset="utf-8">
{{/section}}
<div class="plan-container">
	<div class="self" id="plan_1">
		<h3>员工基本信息</h3>
		<div class="info">
			<label><span>姓名：</span><span>余璐</span></label>
			<label><span>性别：</span><span>女</span></label>
			<label><span>手机号：</span><span>13812345678</span></label>
			<label><span>身份证号：</span><span>123456789987654321</span></label>
		</div>
		<div class="plan-content" style="height:220px;white-space: nowrap;">
			<table class="fancyTable" id="myTable01" cellpadding="0" cellspacing="0">
			    <thead>
			        <tr>
			            <th>方案</th>
			            <th>意外身故、伤残</th>
			            <th>疾病身故</th>
			            <th>重大疾病</th>
			            <th>门急诊医疗</th>
			            <th>住院医疗</th>
			            <th>住院津贴</th>
			            <th>女性员工生育</th>
			            <th>商务旅行（公共交通自选）</th>
			            <th>我要选</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr id="plan_1_1">
			            <td id="plan_1_1_0"><label class="plan-type"><input type="radio" name="plan_1" value="630">方案1</label></td>
			            <td id="plan_1_1_1">20万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_1_1_2">10万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_1_1_3">10万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_1_1_4">0.5万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_1_1_5">5万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_1_1_6">50元/天<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>元/天</label></td>
			            <td id="plan_1_1_7">8000元<br>（赠送项目）</td>
			            <td id="plan_1_1_8"><label><input type="checkbox" name="plan_1_1_baoxian" value="30" disabled><br>飞机50万<br>轮船20万<br>轨道20万</label></td>
			            <td id="plan_1_1_9">630元/人/年<br>（公司付费，不含商务旅行）</td>
			        </tr>
			        <tr id="plan_1_2">
			            <td id="plan_1_2_0"><label class="plan-type"><input type="radio" name="plan_1" value="980">方案2</label></td>
			            <td id="plan_1_2_1">50万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_1_2_2">30万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_1_2_3">20万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_1_2_4">1万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_1_2_5">9万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_1_2_6">100元/天<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_1_2_7">8000元<br>（赠送项目）</td>
			            <td id="plan_1_2_8"><label><input type="checkbox" name="plan_1_2_baoxian" value="30" disabled><br>飞机50万<br>轮船20万<br>轨道20万</label></td>
			            <td id="plan_1_2_9">980元／人／年<br>（需自费200，不含商务旅行）</td>
			        </tr>
			    </tbody>
			</table>
    	</div>
		<p id="plan_1_currency" class="currency">自费小计<input type="hidden" value=""><span></span>元</p>
	</div>
	<div class="children" id="plan_2">
		<h3>子女基本信息</h3>
		<div class="info">
			<label><span>姓名：</span><span></span></label>
			<label><span>性别：</span><span></span></label>
			<label><span>出生日期：</span><span></span></label>
			<label><span>身份证号：</span><span></span></label>
		</div>
		<div class="plan-content" style="height:220px;white-space: nowrap;">
			<table class="fancyTable" id="myTable02" cellpadding="0" cellspacing="0">
			    <thead>
			        <tr>
			            <th>方案</th>
			            <th>意外身故、伤残</th>
			            <th>重大疾病</th>
			            <th>门急诊医疗</th>
			            <th>住院医疗</th>
			            <th>住院津贴</th>
			            <th>我要选</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr id="plan_2_1">
			            <td id="plan_2_1_0"><label class="plan-type"><input type="radio" name="plan_2" value="630">方案1</label></td>
			            <td id="plan_2_1_1">10万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_2_1_2">5万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_2_1_3">0.5万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_2_1_4">2万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_2_1_5">50元/天<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>元/天</label></td>
			            <td id="plan_2_1_6">500元/人/年<br>（公司付费）</td>
			        </tr>
			        <tr id="plan_2_2">
			            <td id="plan_2_2_0"><label class="plan-type"><input type="radio" name="plan_2" value="980">方案2</label></td>
			            <td id="plan_2_2_1">20万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_2_2_2">10万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_2_2_3">1万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_2_2_4">4万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_2_2_5">100元/天<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>元/天</label></td>
			            <td id="plan_2_2_6">580元／人／年<br>（需自费80元）</td>
			        </tr>
			    </tbody>
			</table>
    	</div>
		<p id="plan_2_currency" class="currency">自费小计<input type="hidden" value=""><span></span>元</p>
	</div>
	<div class="children" id="plan_3">
		<h3>子女基本信息</h3>
		<div class="info">
			<label><span>姓名：</span><span></span></label>
			<label><span>性别：</span><span></span></label>
			<label><span>出生日期：</span><span></span></label>
			<label><span>身份证号：</span><span></span></label>
		</div>
		<div class="plan-content" style="height:220px;white-space: nowrap;">
			<table class="fancyTable" id="myTable03" cellpadding="0" cellspacing="0">
			    <thead>
			        <tr>
			            <th>方案</th>
			            <th>意外身故、伤残</th>
			            <th>重大疾病</th>
			            <th>门急诊医疗</th>
			            <th>住院医疗</th>
			            <th>住院津贴</th>
			            <th>我要选</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr id="plan_3_1">
			            <td id="plan_3_1_0"><label class="plan-type"><input type="radio" name="plan_3" value="630">方案1</label></td>
			            <td id="plan_3_1_1">10万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_3_1_2">5万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_3_1_3">0.5万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_3_1_4">2万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_3_1_5">50元/天<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>元/天</label></td>
			            <td id="plan_3_1_6">500元/人/年<br>（公司付费）</td>
			        </tr>
			        <tr id="plan_3_2">
			            <td id="plan_3_2_0"><label class="plan-type"><input type="radio" name="plan_3" value="980">方案2</label></td>
			            <td id="plan_3_2_1">20万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_3_2_2">10万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_3_2_3">1万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_3_2_4">4万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_3_2_5">100元/天<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>元/天</label></td>
			            <td id="plan_3_2_6">580元/人/年<br>（需自费80元）</td>
			        </tr>
			    </tbody>
			</table>
    	</div>
		<p id="plan_3_currency" class="currency">自费小计<input type="hidden" value=""><span></span>元</p>
	</div>
	<div class="spouse" id="plan_4">
		<h3>配偶基本信息</h3>
		<div class="info">
			<label><span>姓名：</span><span></span></label>
			<label><span>性别：</span><span></span></label>
			<label><span>身份证号：</span><span></span></label>
		</div>
		<div class="plan-content" style="height:220px;white-space: nowrap;">
			<table class="fancyTable" id="myTable04" cellpadding="0" cellspacing="0">
			    <thead>
			        <tr>
			            <th>方案</th>
			            <th>意外身故、伤残</th>
			            <th>疾病身故</th>
			            <th>重大疾病</th>
			            <th>门急诊医疗</th>
			            <th>住院医疗</th>
			            <th>住院津贴</th>
			            <th>我要选</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr id="plan_4_1">
			            <td id="plan_4_1_0"><label class="plan-type"><input type="radio" name="plan_4" value="630">方案1</label></td>
			            <td id="plan_4_1_1">20万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_4_1_2">10万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_4_1_3">10万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_4_1_4">0.5万</td>
			            <td id="plan_4_1_5">5万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_4_1_6">50元/天<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>元/天</label></td>
			            <td id="plan_4_1_7">880元/人/年<br>（公司付费，不含商务旅行）</td>
			        </tr>
			        <tr id="plan_4_2">
			            <td id="plan_4_2_0"><label class="plan-type"><input type="radio" name="plan_4" value="980">方案2</label></td>
			            <td id="plan_4_2_1">30万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_4_2_2">20万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_4_2_3">20万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_4_2_4">0.5万</td>
			            <td id="plan_4_2_5">9万<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_4_2_6">100元/天<br><label><span class="lh-tips">增加保额：</span><div class="custom-operation"><input type="value" name="plan1_yiwai" disabled><button class="operate-minus" disabled>-</button><button class="operate-add" disabled>+</button></div>万</label></td>
			            <td id="plan_4_2_7">1180元／人／年<br>（需自费200，不含商务旅行）</td>
			        </tr>
			    </tbody>
			</table>
    	</div>
		<p id="plan_4_currency" class="currency">自费小计<input type="hidden" value=""><span></span>元</p>
	</div>
	<div class="total">
		您的家庭商业补充医疗保险共需自费：<span></span>元
	</div>
</div>
{{#section 'footer'}}
	<script type="text/javascript" src="/minjs/jquery.fixedheadertable.min.js"></script>
	<script type="text/javascript" src="/minjs/layer.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var yusuan = 780;
		    $('#myTable01').fixedHeaderTable({ altClass: 'odd',fixedColumns: 1});
		    $('#myTable02').fixedHeaderTable({ altClass: 'odd',fixedColumns: 1});
		    $('#myTable03').fixedHeaderTable({ altClass: 'odd',fixedColumns: 1});
		    $('#myTable04').fixedHeaderTable({ altClass: 'odd',fixedColumns: 1});
		    //小tips
		    $('.lh-tips').mouseover(function(){
				layer.tips('每增加保额10万,<br>增加保费50元<br>最高保至80万', this, {
				  tips: [1, '#3595CC'],
				  time: 2000
				});
		    });
		    function getSelfCost(totalCost){
		    	return totalCost<=750 ? 0 : totalCost-750;
		    }
		    $('.plan-content').click(function(event){
		    	event.stopPropagation();
		    	var elem = event.target;
		    	if(elem.className=='operate-minus' || elem.className=='operate-add'){
			    	var inputElem = $(elem).parent().find('input');
			    	var $currencyElem = $('#'+$(elem).parentsUntil('td').last().parent()[0].id.substring(0,7)+'currency').find('span');
			    	var total = parseInt($currencyElem.prev().val());
			    	if(elem.className=='operate-minus' && inputElem.val()>0){
			    		inputElem.val(inputElem.val()-10);
			    		total -= 10;
			    	}else if(elem.className=='operate-add' && inputElem.val()<60){
			    		inputElem.val(inputElem.val()-0+10);
			    		total += 10;
			    	}
		    		$currencyElem.prev().val(total);
		    		$currencyElem.text(getSelfCost(total));
		    	}
		    	if(elem.type=='checkbox'){
			    	var $currencyElem = $('#'+$(elem).parentsUntil('td').last().parent()[0].id.substring(0,7)+'currency').find('span');
			    	var total = parseInt($currencyElem.prev().val())+parseInt(elem.value)*(elem.checked ? 1 : -1);
			    	$currencyElem.prev().val(total);
		    		$currencyElem.text(getSelfCost(total));
		    	}
		    });
		    $('.plan-type input[type="radio"]').change(function(){
		    	var $this = $(this);
		    	var planId = $this.parent().parent()[0].id;
		    	var userId = planId.substr(0,planId.length-4);
		    	var $trs = $('tr[id^='+userId+']');
		    	$trs.each(function(index,elem){
		    		if(planId.substr(0,planId.length-2)==elem.id){
		    			$(elem).find('button,input[type="checkbox"]').removeAttr('disabled');
		    		}else{
		    			$(elem).find('button,input[type="checkbox"]').attr('disabled','');
		    		}
		    	});
		    	var idPrefix = planId.substr(0,planId.length-1);
		    	var total = parseInt($this.val());
		    	$('[id^='+idPrefix+']').each(function(index,elem){
		    		if(elem.id!=planId){
			    		var $input = $(elem).find('input[type=value],input[type=checkbox]');
			    		if($input.length && $input[0].type=='checkbox'){
			    			total += $input.val() * ($input[0].checked ? 1 : 0);
			    		}else if($input.length){
			    			total += parseInt($input.val()||0);
			    		}
		    		}
		    	});
		    	var $currencyElem = $('#'+$this.parent().parent()[0].id.substr(0,6)).find('.currency').find('span');
		    	$currencyElem.prev().val(total);
		    	$currencyElem.text(getSelfCost(total));
		    });

		});
	</script>
{{/section}}