html{
	font-size: 14px;
	font-family:'微软雅黑',Arial;
}
body,ul,pre,div{
	font-size: 100%;
}
h3{
	font-size: 24/14rem;
}
h4{
	font-size: 18/14rem;
}
img{
	max-width: 100%;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
}
nav{
	display: block;
	li{
		float: left;
		padding:0 10/14rem;
		line-height: 55/14rem;
	}
	.glyphicon{
		margin-right:5px;
		top: 3px;
	}
}
#date,.logo{
	padding:0 10/14rem;
	color: green;
	line-height: 55/14rem;
}
.logo{
	display: inline-block;
	padding: 0;
	margin: 5/14rem 0 0 5/14rem;
	height: 55/14rem;
	img{
		width: 50px;
		height: 50px;
		position: relative;
		top: 50%;
		margin-top: -25px;
	}
}
.clearfix:after{
	content:'';display:table;clear:both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
header,footer,#body{
	max-width: 1000px;
	margin: 0 auto;
}
header{
	font-size: 20/14rem;
	margin-bottom: 5/14rem;
	position: relative;
}
footer{
	border-top: 2px solid #ccc;
	font-size: 20/14rem;
	line-height: 20/14rem;
	&>div{
		width: 50%;
		min-width: 22rem;
		padding-left: .5rem;
		i{
			margin-right: 1rem;
			margin-top: 3/14rem;
		}
		&>div{
			padding:.7rem 0;
		}
		&>div+div{
			border-top: 1px solid #ddd;
		}
	}
	>img{
		margin-top: 65/14rem;
		margin-left: 20/14rem;
	}
}
img{
	max-width: 100%;
}
#home{
	h3{
		margin-top: 2em;
	}
}
#navBtn{
	display: none;
	margin-left: 40/14rem;
	i{
		padding:0 20/14rem;
		line-height: 55/14rem;
	}
}
.content-list li{
	font-size: 1.2rem;
	margin: 0.16em 0;
}
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
.link-out{
	border-top: 2px dashed green;
	font-size: 1.2rem;
	color: green;
	padding: .8em 0 .5em;
}
@media screen and (max-width: 700px), screen and (max-device-width: 400px){
	#navBtn{
		display: block;
	}
	nav{
		display: none;
		float: none;
		position: absolute;
		width: 100%;
		background-color: #fff;
		z-index: 10;
		top: 100%;
		ul{
			padding-left: 0;
		}
		li{
			display: block;
			float: none;
			a{
				display: block;
			}
		}
	}
}
@media screen and (max-device-width: 400px){
	html{
		font-size: 14px;
	}
}